[submodule "packages/aisuite"]
	path = packages/aisuite
	url = git@github.com:haydenrear/aisuite
[submodule "packages/python_di"]
	path = packages/python_di
	url = git@github.com:haydenrear/python_di
[submodule "packages/python_util"]
	path = packages/python_util
	url = git@github.com:haydenrear/python_util
[submodule "packages/drools_py"]
	path = packages/drools_py
	url = ../../python_parent/packages/drools_py
[submodule "packages/model_server"]
	path = packages/model_server
	url = git@github.com:haydenrear/model_server
[submodule "packages/cdc_agents"]
	path = packages/cdc_agents
	url = git@github.com:haydenrear/cdc_agents
